@model PontoMap.Models.Usuario
@{
    ViewBag.Title = "Adicionar Usuário";
}

@using (Html.BeginForm("Edit", "Usuario", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="containerRegister">
        @Html.AntiForgeryToken()
        <div class="formContainer">
            <p>Forneça os dados Funcionário. A senha padrão será o CPF, oriente o colaborador a logar e altera-la para uma maior segurança.</p>

            <div class="form-group">
                
                @Html.HiddenFor(m => m.IdUsuario)

                @Html.LabelFor(m => m.NmUsuario)
                @Html.TextBoxFor(m => m.NmUsuario, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.NmUsuario, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DtNascimento)
                @Html.TextBoxFor(m => m.DtNascimento, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DtNascimento, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DsEmail)
                @Html.TextBoxFor(m => m.DsEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DsEmail, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CdCpf)
                @Html.TextBoxFor(m => m.CdCpf, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CdCpf, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DsCelular)
                @Html.TextBoxFor(m => m.DsCelular, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DsCelular, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <input type="submit" value="Registrar" class="btn btn-default" />
    </div>
}
