@model PontoMap.Models.Usuario


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/template_gentelella")

    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    
    <script>
        $(document).ready(function () {
            $("#validationSummary").change(function(){
                alert("The text has been changed.");
            });
        });

    </script>

    <title>Gentelella Alela! | </title>
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
                        <h1>Login</h1>
                        <div>
                            @Html.TextBoxFor(m => m.DsEmail, htmlAttributes: new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.DsEmail) })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.CdPassword, htmlAttributes: new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.CdPassword) })
                        </div>
                        <div>
                            <input type="submit" value="Submit" />
                            <input type="reset" value="Reset" />
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    }
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    @using (Html.BeginForm("Create", "Usuario", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        <h1>Create Account</h1>
                        <div>
                            @Html.TextBoxFor(m => m.DsEmail, htmlAttributes: new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.DsEmail) })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.CdPassword, htmlAttributes: new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.CdPassword) })
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</body>
</html>
